/* Layout ▸ Pricing
----------------------------- */

.pb-5 {
  padding-bottom: 0.5rem !important;
}
.pricing-table {
  margin: 0;
  padding: 0;
  padding-top: 0;

  .font-weight-bold {
    font-weight: 700 !important;
  }

  .plan {
    overflow: hidden;
    border-radius: 0;
    background-color: $white;
    @include margin-bottom(60);
    height: calc(100% - 60px);
    @include transition(all 0.3s ease);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);

    @include flexbox;
    @include justify-content(space-between);
    @include flex-direction(column, vertical);

    &-header {
      position: relative;
      text-align: center;
      @include padding(20);
      background-color: $white;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;

      > h4 {
        color: $primary;
        font-weight: 700;
        @include padding(0);
        @include font-size(26);
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
      }

      .label {
        &:before {
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          content: " ";
          position: absolute;
          border-style: solid;
          border-width: 80px 80px 0 0;
          border-color: $primary transparent transparent transparent;
          -webkit-filter: drop-shadow(0 0 10px rgba($black, 0.75));
          filter: drop-shadow(0 0 10px rgba($black, 0.75));
        }

        &:after {
          top: 5px;
          left: 8px;
          content: " ";
          position: absolute;
          @include size(30px);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 227 227' fill='%23FFF'%3E%3Cpath d='M99.5 33.4c-35.9 7-63.2 24.1-80.4 50.2C8.9 99.2 4.5 115.7 5.2 135.4 5.8 150 8.4 158 15.9 168c10.7 14.2 27.7 22.8 52.6 26.5 8.2 1.2 23.6 1.5 84.3 1.5H227v-16h-73.1c-79.1 0-85.9-.4-101-5.5-14.5-4.9-24.7-13.5-29.1-24.3-2-5-2.2-7.5-2.2-19.2 0-12.1.3-14.3 2.8-21.5 10.5-30.5 40.3-53.4 78-60 17.4-3 41.3-1.3 57.4 4 19.5 6.6 28.8 16.5 31.3 33.7 3 20.5-5.7 39.5-23.2 50.8-8.8 5.7-17.7 7.3-20.1 3.6-.4-.6-.8-2.2-.8-3.7 0-2.2 5.2-27.5 6.6-32.2.4-1.4 1.8-1.7 7.9-1.7h7.3l1.7-7.7c1-4.3 2-8.3 2.2-9 .4-1-1.4-1.3-7.2-1.3-6.8 0-7.6-.2-7.1-1.8 1.1-3.6 3.6-15.4 3.6-16.8 0-1.2-1.8-1.4-10.2-1.2l-10.2.3-2 9.7-2 9.8h-12.4l-1.7 7.7c-1 4.3-2 8.3-2.2 9-.4 1 1.1 1.3 5.6 1.3 3.4 0 6.1.4 6.1.8 0 .5-1.8 9.1-4 19.1s-4 20.1-4 22.5c0 8.8 7 14.5 18.9 15.4 12.7.9 26-4.1 38.4-14.3 19.8-16.3 29-41 24.4-65.2-2.3-12.2-6.4-19.8-14.5-27.5C181.5 44.7 170 39 152 34.8c-11.2-2.6-42.1-3.4-52.5-1.4z'/%3E%3Cpath d='M65.3 85.4c-18.6 6.1-30.1 25.2-29.1 48.1.3 7.6.8 9.8 3.3 14.4 1.6 2.9 4.5 6.6 6.4 8.2 10 8.2 27.3 7.8 36.4-.8 3-3 3-3 1.8 1.5l-1 3.2h10.4c9 0 10.4-.2 10.9-1.8.8-2.6 15.6-70.2 15.6-71.3 0-1.5-20-1.1-20.4.3-.3.7-.7 2.6-1.1 4.2l-.6 2.9-2.7-2.6c-7-6.5-20.6-9.4-29.9-6.3zm22.2 19.4c1.7.8 3.9 2.3 5.1 3.4l2.1 1.9-2.8 12.7c-2.6 11.5-3.2 13-6.3 15.9-6.6 6.2-16.8 6.7-23.2 1.1-5.4-4.8-6.7-12.4-3.7-21.9C62.9 105 75.9 99 87.5 104.8z'/%3E%3C/svg%3E");
          background-size: 30px auto;
          background-repeat: no-repeat;
          background-position: center center;
        }

        /*display: none !important;*/
      }
    }

    &-content {
      height: 100%;
    }

    &-footer {
      width: 100%;
      @include padding(25 20);
      @include padding-top(10);
      @include align-self(flex-end);
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
    }

    .plan-button {
      width: 100%;
      @include padding(0 5);
      @include margin-top(10);
      /*@include margin-left(-20);
      @include margin-right(-20);*/

      .btn {
        width: 100%;
        height: 48px;
        color: $white;
        display: block;
        border: 0px none;
        font-weight: 800;
        text-align: center;
        border-radius: 2px;
        font-size: 1.25rem;
        @include padding(12 15);
        background-color: $green;

        &:hover,
        &:focus,
        &:active {
          color: $white;
          background-color: darken($green, 5%);
        }
      }
      .button {
        height: 48px;
        font-weight: 800;
        border-radius: 2px;
        font-size: 1.125rem;
        @include padding(12 15);
        text-transform: capitalize !important;
      }
    }

    &:hover {
      @include box-shadow(0 0 20px rgba($black, 0.15));
    }
  }

  .plan-list {
    border-width: 0 1px 1px;
    @include padding(5 0 0);

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: table;
      list-style: none;
      text-align: left;
      @include padding(0 15);

      li {
        color: $black;
        position: relative;
        @include font-size(15);
        line-height: 1.25;
        @include margin-bottom(0);
        @include padding(10 0 10 15);
        font-weight: 500 !important;
        border-bottom: 1px solid $border;

        &::before {
          left: 0; /* 16px */
          top: 0.875rem; /* 14px */
          content: " ";
          position: absolute;
          border-radius: 50%;
          @include size(0.5rem); /* 8px */
          background-color: $primary;
        }

        &:last-child {
          border: 0px none;
        }
      }
    }
  }

  .plan-price,
  .plan-subprice {
    padding: 0;
    font-weight: 700;
    @include flexbox;
    color: $black_sh2;
    position: relative;
    text-align: center;
    @include margin-bottom(5);
    @include align-items(center);
    @include justify-content(center);
    // text-shadow: 1px 1px 0 rgba($black, 0.15);

    sup {
      top: -2px;
      color: $black_sh2;
      font-size: 1rem; /* 16px */
      position: relative;
      @include margin-right(4);
    }
    span {
      font-size: 0.813rem; /* 13px */
      @include margin-left(4);
    }
  }
  .plan-price {
    @include font-size(20);
  }
  .plan-subprice {
    @include font-size(18);
    @include margin-bottom(0);
  }

  .plan-price-was {
    position: relative;

    &::before {
      top: 50%;
      left: auto;
      z-index: 2;
      content: "";
      width: 100%;
      height: 2px;
      max-width: 70%;
      margin-top: -1px;
      border-radius: 2px;
      position: absolute;
      background-color: $error;
    }
  }
}

/* Basic Option */
.tip--basic,
.tip-basic,
.plan.monthly {
  .plan-header {
    > h4 {
      color: $primary;
      // color: $white;
    }
    .label {
      &:before {
        border-color: $primary transparent transparent transparent;
      }
    }
  }
  .plan-list {
    ul {
      li {
        &::before {
          background-color: $primary;
        }
      }
    }
  }
  .plan-button {
    .btn {
      background-color: $green !important;
      &:hover,
      &:focus,
      &:active {
        color: $white;
        background-color: darken($green, 5%) !important;
      }
    }
  }
  .plan-price {
    .text-deluxe,
    .text-basic {
      color: $black_sh2;
      sup {
        color: $black_sh2;
      }
    }
  }
}

/* Premium Option */
.tip--premium,
.tip-premium,
.plan.semi-annual {
  .plan-header {
    > h4 {
      color: $premium;
      // color: $white;
    }
    .label {
      &:before {
        border-color: $premium transparent transparent transparent;
      }
    }
  }
  .plan-list {
    ul {
      li {
        &::before {
          background-color: $premium;
        }
      }
    }
  }
  .plan-button {
    .btn {
      background-color: $green !important;
      &:hover,
      &:focus,
      &:active {
        color: $white;
        background-color: darken($green, 5%) !important;
      }
    }
  }
  .plan-price {
    .text-deluxe,
    .text-basic {
      color: $black_sh2;
      sup {
        color: $black_sh2;
      }
    }
  }
}

/* One Time Option */
.one--time,
.one-time {
  .plan-header {
    > h4 {
      color: $success;
      // color: $white;
    }
    .label {
      &:before {
        border-color: $success transparent transparent transparent;
      }
    }
  }
  .plan-list {
    ul {
      li {
        &::before {
          background-color: $success;
        }
      }
    }
  }
  .plan-button {
    .btn {
      background-color: $green !important;
      &:hover,
      &:focus,
      &:active {
        color: $white;
        background-color: darken($green, 5%) !important;
      }
    }
  }
  .plan-price {
    .text-deluxe,
    .text-basic {
      color: $black_sh2;
      sup {
        color: $black_sh2;
      }
    }
  }
}

/* Deluxe Option */
.tip--deluxe,
.tip-deluxe,
.plan.annual {
  .plan-header {
    > h4 {
      color: $deluxe;
      // color: $white;
    }
    .label {
      &:before {
        border-color: $deluxe transparent transparent transparent;
      }
    }
  }
  .plan-list {
    ul {
      li {
        &::before {
          background-color: $deluxe;
        }
      }
    }
  }
  .plan-button {
    .btn {
      background-color: $green !important;
      &:hover,
      &:focus,
      &:active {
        color: $white;
        background-color: darken($green, 5%) !important;
      }
    }
  }
  .plan-price {
    .text-deluxe,
    .text-basic {
      color: $black_sh2;
      sup {
        color: $black_sh2;
      }
    }
  }
}

@include breakpoint(767) {
  .sm\:h-auto {
    height: auto !important;
  }

  .pricing-table {
    .mobile-adjust {
      [class^="col-"] {
        &:last-child {
          .plan {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}

// .pricing-table {
//   .selected {
//     .plan {
//       .plan-button {
//         .btn-current {
//           display: none !important;
//         }
//       }
//       border: 1px solid $green;
//       @include transform(translateY(0));
//       @include box-shadow(0 0 20px rgba($black, 0.25));
//       background-color: lighten($green, 30%) !important;

//       .plan-header {
//         background-color: $primary;
//       }
//     }
//   }
// }
