/* Video Portal Page
------------------------------------*/

.upload_media {
  z-index: 0;
  height: auto;
  position: relative;
  text-align: center;
  @include padding(50 0);
  background-color: $green;

  &:before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    background-color: rgba($black, 0.1);
  }

  h2,
  h3 {
    color: $white;
    @include margin(0);
    @include margin-bottom(15);
    text-shadow: 0px 2px 0px rgba($black, 0.25);
  }

  h2 {
    @include font-size(50);
    line-height: 1;
    font-weight: $weightBold;

    @include breakpoint(500) {
      font-size: 32px;
    }
    @media screen and (min-width: 501px) and (max-width: 767px) {
      font-size: 38px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 44px;
    }
  }

  h3 {
    @include font-size(25);
    line-height: 1;
    font-weight: $weightLight;
    @include margin-bottom(45);

    @include breakpoint(640) {
      font-size: 22px;
    }
  }

  #upload_media {
    width: 100%;
    height: 340px;
    margin: 0 auto;
    cursor: pointer;
    color: $primary;
    max-width: 460px;
    position: relative;
    @include padding(30);
    background-color: $white;
    @include border-radius(3px);

    @include breakpoint(500) {
      max-width: 350px;
      height: 340px;
    }

    .inner {
      @include size(100%);
      @include padding-top(30);
      border: 5px dashed $border;
    }

    .plus_ico {
      color: $white;
      @include size(100px);
      margin: 0 auto 30px;
      text-align: center;
      @include font-size(100);
      line-height: 90px;
      font-weight: bold;
      background-color: $primary;
      border-radius: 100%;
      @include transition(all 300ms ease-in-out 0s);
    }

    label {
      color: $white;
      cursor: pointer;
      border-radius: 5px;
      @include padding(0 22);
      @include font-size(16);
      line-height: 42px;
      font-weight: $weightBold;
      text-transform: uppercase;
      @include margin-bottom(10);
      background-color: $primary;
      @include transition(all 300ms ease-in-out 0s);

      img {
        @include margin-right(10);
      }
    }

    &:hover,
    &:focus,
    &:active {
      .plus_ico,
      label {
        background-color: darken($primary, 10%);
      }
    }

    .dz-default.dz-message {
      bottom: 70px;
      width: -webkit-calc(100% - 60px);
      width: calc(100% - 60px);
      position: absolute;
    }
  }
}

.search--filter {
  @include padding(25 0);
  background-color: $primary;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);

  &.green {
    background-color: $green !important;
  }

  @include minbreakpoint(1199.99) {
    .category--filter {
      width: 33.3333%;
      min-width: 300px;
      max-width: 33.3333%;
    }
  }

  .selectdropdown {
    height: 42px;
    position: relative;
    width: $viewportSize;

    select {
      border: none;
      box-shadow: none;
      width: $viewportSize;
      height: 42px !important;
      @include appearance(none);
      @include padding(0 10);
      position: relative;
      border: 2px solid $white;
      @include border-radius(3px);
      @include transition(all 0.3s ease-out);

      &:focus {
        outline: 0;
        color: $black;
        border-color: $blue;
        background-color: $white;
        @include box-shadow(0 0 0 0.15rem rgba($green, 0.25));
      }

      [disabled] {
        color: rgba($greyish, 0.5);
      }

      option {
        color: $black;
        @include padding(14 0);
        @include font-size(15);
        font-weight: $weightRegular;
        border-bottom: 1px solid $offwhite !important;

        &.placeholder {
          color: rgba($greyish, 0.5);
        }
      }
    }
    .form-control {
      overflow: hidden;
      text-overflow: ellipsis;
      @include padding-right(30);
    }
    &:after {
      top: 53%;
      right: 16px;
      color: rgba($black, 0.5);
      display: block;
      content: "\e842";
      position: absolute;
      pointer-events: none;
      @include size(18px, 24px);
      // border-left: 1.5px solid rgba($black, 0.5);
      padding-left: 6px;
      font-family: $feather;
      @include font-size(18);
      line-height: 25px;
      @include transform(translateY(-50%));
    }
  }

  .form-control {
    height: 42px;
    color: $white;
    @include padding(5 10);
    border: 2px solid $white;
    @include border-radius(3px);
    background-color: transparent;

    &:focus {
      border: 2px solid $green;
      @include box-shadow(0 0 0 0.15rem rgba($green, 0.25));
    }
  }

  .form-control::-webkit-input-placeholder {
    color: rgba($white, 0.5);
  }
  .form-control::-moz-placeholder {
    color: rgba($white, 0.5);
  }
  .form-control::-ms-input-placeholder {
    color: rgba($white, 0.5);
  }
  .form-control::-o-placeholder {
    color: rgba($white, 0.5);
  }

  .input-group {
    max-height: 42px;

    .input-group-addon {
      color: $primary;
      max-height: 42px;
      border-color: $white;
      background-color: $white;

      .btn {
        color: $primary;
        border: 0px none;
        font-size: 1.25rem;
        @include padding(0);
        background-color: transparent;
      }
    }
  }

  .postTypeFilter {
    .btn {
      height: 36px;
      color: $white;
      background: none;
      text-align: center;
      border-radius: 20px;
      @include padding(0 15 2);
      line-height: 26px;
      border: 1px solid $white;
      box-shadow: none;
      @include inline-flex;
      @include align-items(center);
      @include justify-content(center);

      [class^="fe-"] {
        position: relative;
        display: inline-block;
        @include margin-top(2);
        @include margin-right(6);
      }

      + .btn {
        @include margin-left(10);
      }

      &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 20px;
      }

      &:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }

      &:hover,
      &:focus,
      &:active,
      &.active {
        color: $white;
        border-color: $green;
        background-color: $green;
      }
    }
  }

  @include breakpoint(640) {
    .mobile-coloumn {
      @include flex-direction(column, vertical);

      .category--filter,
      .postTypeFilter,
      .category--search {
        width: 100%;
      }

      .postTypeFilter {
        @include margin(20 0);
        margin-left: 0px !important;
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);

        .btn {
          height: 32px;
          font-size: 14px;
          line-height: 22px;
          @include padding(0 10 2);

          + .btn {
            @include margin-left(4);
          }
        }
      }
    }
  }
  .modal-body {
    .form-control {
      color: $black;
    }
    .button-wrap {
      float: left;
    }
  }
}

.recent--uploads,
.video--detail {
  @include padding(40 0);

  @include responsive(sm) {
    @include padding(40 0);

    @include respond-to(md) {
      @include padding(50 0);

      @include respond-to(lg) {
        @include padding(60 0);
      }
    }
  }

  .title_row {
    margin-bottom: 15px;

    h3 {
      color: $black;
      @include font-size(36);
      font-weight: $weightBold;
      text-transform: uppercase;
    }
  }

  .video--post {
    @include padding(15);

    .inner {
      border: 1px solid $border;
      @include box-shadow(0 0 10px 3px rgba($black, 0.1));
    }

    .screencast {
      height: 185px;
      overflow: hidden;
      max-height: 185px;
      position: relative;

      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        content: "";
        position: absolute;
        background-color: rgba($black, 0.05);
        @include transition(all 300ms ease-in-out 0s);
      }

      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 185px;
        object-position: center;
        @include object-fit(cover);
      }
    }

    .play--btn {
      width: 70px;
      height: 70px;
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      @include transition(all 300ms ease-in-out 0s);

      .stroke-solid {
        stroke: $white;
        stroke-dashoffset: 0;
        stroke-dasharray: 300;
        stroke-width: 4px;
        @include transition(all 400ms ease-in-out 0s);
      }
      .icon {
        fill: $white;
        @include transform(scale(0.8));
        transform-origin: 50% 50%;
        @include transition(all 400ms ease-in-out 0s);
      }
    }
    .media--length {
      top: 0;
      right: 0;
      color: $white;
      background: $red;
      position: absolute;
      @include padding(0 5);
      @include font-size(12);
      line-height: 20px;
    }

    &:hover,
    &:focus,
    &:active {
      .play--btn {
        .stroke-solid {
          stroke: $red;
          @include opacity(1);
          stroke-dashoffset: 300;
        }
        .icon {
          fill: $red;
          @include transform(scale(0.9));
        }
      }
      .screencast {
        &:before {
          background-color: rgba($black, 0.25);
        }
      }
    }
  }

  .post--data {
    @include padding(15);
    @include font-size(14);

    .post--title {
      color: $grey;
      @include font-size(18);
      line-height: 22px;
      font-weight: $weightBold;
      @include margin-bottom(10);

      a {
        color: $grey;
        display: block;
        min-height: 22px;
        max-height: 22px;
        overflow: hidden;
        line-height: 22px;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include transition(all 300ms ease-in-out 0s);

        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
    }

    .author,
    time {
      @include font-size(14);
      color: rgba($grey, 0.5);

      a {
        color: $grey;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
      [class^="fe-"] {
        position: relative;
        display: inline-block;
        @include margin-top(2);
        @include margin-right(6);
      }
    }
    .author {
      @include margin-bottom(5);
    }
  }

  .post--footer {
    @include flexbox;
    @include align-items(center);
    border-top: 1px solid $border;

    .post--category {
      width: 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }

    .post--views {
      width: 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }

    .post--category,
    .post--views {
      color: $grey;
      @include flexbox;
      font-weight: $weightBold;
      @include align-items(center);
      @include justify-content(center);

      a {
        width: 100%;
        height: 100%;
        color: $grey;
        @include flexbox;
        @include font-size(14);
        @include padding(12 10);
        @include align-items(center);
        background-color: $white_sh3;
        @include justify-content(center);
        @include transition(all 300ms ease-in-out 0s);

        [class^="fe-"] {
          @include margin-right(5);
        }

        &:hover,
        &:focus,
        &:active {
          color: $white;
          background-color: $primary;
        }
      }
    }
    .post--category {
      border-right: 1px solid $border;

      a {
        display: block;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .load_more_videos {
    color: $white;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    @include padding(15 30);
    background-color: $primary;
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include transition(all 300ms ease-in-out 0s);

    &:hover,
    &:focus,
    &:active {
      background-color: darken($primary, 10%);
    }

    &:after {
      left: 0;
      top: 52.5%;
      content: "";
      position: absolute;
      @include size(14px);
      @include opacity(0);
      display: inline-block;
      vertical-align: middle;
      border: 1px solid $white;
      @include margin-top(-7);
      @include border-radius(50%);
      border-left-color: $black_sh1;
      @include transition(opacity 0.2s ease);
    }

    &.loading {
      @include padding-left(50);

      &:after {
        left: 20px;
        @include opacity(1);
        animation: load-spin 450ms infinite linear;
        -webkit-animation: load-spin 450ms infinite linear;
      }
      &:before {
        @include opacity(0);
      }
    }
  }
}

@keyframes load-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeftShort {
  from {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeftShort {
  from {
    -webkit-transform: translate3d(-20px, 0, 0);
  }
  to {
    -webkit-transform: none;
  }
}
@-webkit-keyframes fadeOutLeft {
  from {
    -webkit-transform: none;
  }
  to {
    -webkit-transform: translate3d(-50px, 0, 0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.video--wrap {
  width: 100%;
  height: 250px;
  max-height: 250px;
  position: relative;

  @include responsive(sm) {
    height: 450px;
    max-height: 450px;

    @include respond-to(md) {
      height: 600px;
      max-height: 600px;

      @include respond-to(lg) {
        height: 670px;
        max-height: 670px;
      }
    }
  }

  #S3Video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
  }
}

.yt--video,
.vimeo--video {
  height: 0;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;

  iframe,
  object,
  embed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.video--content {
  width: 100%;
  color: $black;
  position: relative;
  @include padding(15 0);
  background-color: $white_sh2;
  border-bottom: 1px solid rgba($black, 0.05);
  /*@include linear-gradient(
    to bottom,
    rgba(darken($primary, 20%), 0.95) 0%,
    rgba(darken($primary, 20%), 0.5) 50%,
    rgba(darken($primary, 20%), 0) 100%
  );*/

  @include responsive(sm) {
    @include padding(15 0);

    @include respond-to(md) {
      @include padding(20 0);

      @include respond-to(lg) {
        @include padding(25 0);
      }
    }
  }

  .title {
    color: $primary;
    pointer-events: all;
    @include font-size(18);
    line-height: 1.5;
    font-weight: $weightMedium;

    @include responsive(sm) {
      @include font-size(24);

      @include respond-to(md) {
        @include font-size(30);

        @include respond-to(lg) {
          @include font-size(36);
        }
      }
    }
  }
  .metas {
    @include flexbox;
    font-size: 14px;
    flex-wrap: wrap !important;
  }

  .border-left {
    border-left: 2px solid rgba($black, 0.25);
  }

  .user {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    @include padding(3);
    pointer-events: all;
    @include size(55px, 55px);
    @include margin-bottom(10);
    background-color: rgba($primary, 0.15);

    img {
      @include size(100%);
      border-radius: 50%;
      object-position: center;
      @include object-fit(cover);
    }

    @include responsive(sm) {
      @include size(60px, 60px);

      @include respond-to(md) {
        @include size(65px, 65px);

        @include respond-to(lg) {
          @include size(70px, 70px);
        }
      }
    }

    &--name {
      color: $black;
      text-align: center;
      @include font-size(14);
    }
  }

  .video--desc {
    line-height: 1.6;

    video {
      display: none !important;
    }
  }
}

@include breakpoint(767) {
  .mobil--details {
    padding-right: 85px !important;
    margin-bottom: 20px !important;
  }
  .metas {
    li {
      margin-bottom: 10px;
    }
  }
  .mobile--user {
    top: 0px;
    right: 15px;
    max-width: 75px;
    position: absolute;
    text-align: center;
    padding: 0px !important;

    .user--name {
      display: block;
      max-width: 65px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: "object-fit: cover;";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-position: center;
}

.progress-bar {
  &.bg-success {
    background-color: $primary !important;
  }
}

.modal--mediaUpload {
  .form-group {
    .form-group {
      margin-bottom: 0px !important;
    }
  }

  &.uploading--inProgress {
    .modal-footer {
      display: none !important;
    }
  }
}

.button-wrap {
  z-index: 2;
  cursor: pointer;
  position: relative;

  input[type="file"] {
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    @include opacity(0);
    color: rgb(153, 153, 153);
  }

  .upload--button {
    width: auto;
    height: 45px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
    @include inline-flex;
    text-transform: uppercase;
    background-color: $primary;
    @include align-items(center);
    margin-bottom: 0px !important;
    @include justify-content(center);
  }
}

.page--withSidebar {
  .tip--seminar__lists {
    .recent--uploads {
      .video--post {
        .screencast {
          height: 300px;
          max-height: 300px;

          &:before {
            z-index: 2;
            background-color: rgba($black, 0.1);
          }

          img {
            height: 300px;
            max-height: 300px;
            border-radius: 0px;
          }

          @include breakpoint(767) {
            height: 200px;
            max-height: 200px;

            img {
              max-height: 200px;
            }
          }
        }
      }
    }
    picture {
      overflow: hidden;
      max-height: 400px;

      img {
        max-height: 400px;
        object-fit: cover;
        object-position: center;
      }

      @include breakpoint(767) {
        max-height: 300px;

        img {
          max-height: 300px;
        }
      }
    }
  }
}

.search--upload {
  text-align: center;
  #upload_media {
    label {
      color: $white;
      cursor: pointer;
      border-radius: 5px;
      white-space: nowrap;
      @include padding(3 22);
      @include font-size(16);
      line-height: 42px;
      font-weight: $weightBold;
      text-transform: uppercase;
      @include margin-bottom(0);
      background-color: $primary;
      @include transition(all 300ms ease-in-out 0s);

      img {
        @include margin-right(10);
      }
    }
  }

  @include breakpoint(640) {
    width: 100%;
    @include margin-top(15);
    @include margin-bottom(15);
    #upload_media {
      label {
        width: 100%;
        @include padding(7 22);
      }
    }
  }
}

.no-videos-found {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
