<div class="page-breadcrumb">
    <div class="container p-0">
        <ul class="page-breadcrumb-list">
            <li class="page-breadcrumb-items"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="page-breadcrumb-items"><a class="nav-link" routerLink="/products/podcasts">Podcasts</a></li>
            <li class="page-breadcrumb-items">Building an Effective Technology Roadmap</li>
        </ul>
    </div>
</div>

<section class="my-podcast my-podcast-sm">
    <div class="container p-0">
        <div class="episode-wrapper">
            <div class="w-full d-flex w-full episode-container episode-container-sm mb-4 noStyle">
                <div class="episode-image" title="Episode 47: How to create a beautiful podcast website?"><a href="/"><img class="w-100 img-fluid" alt="Episode 47: How to create a beautiful podcast website?" loading="lazy" src="./assets/images/podcats.jpg" width="235" height="235"></a></div>
                
                <div class="episode-content d-flex flex-column justify-contentbetween">
                    <div class="episode-content-container">
                        <div class="episode-meta mb-3">
                            <span class="meta-date mr-3" title="Author"><i class="fe-mic mr-1"></i>Vanished: A True Crime Podcast</span>
                            <span class="meta-date mr-3" title="Date"><i class="fe-calendar mr-1"></i>August 12, 2022</span><span class="meta-numbers mr-3" title="Season/Episode Number"><i class="fe-list mr-1"></i>47</span><span class="meta-duration mr-3" title="Episode Duration"><i class="fe-clock mr-1"></i>00:13:39</span><span class="meta-size" title="Episode Weight"><i class="fe-music mr-1"></i>5.15 MB</span>
                        </div>
                        <h1 class="episode-title-big fw-bold mb-3">Episode 47: How to create a beautiful podcast website?</h1>

                        <div class="w-100 w-full mb-4">
                            <audio class="w-100" id="audio" preload="auto" controls>
                                <source src="horse.ogghttps://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/ogg">
                                <source src="https://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                        
                        <div class="episode-desc text-base mb-3">
                            <p class="excerpt line-height line-height-3">In this episode, we look into producing new podcasts and recording multiple episodes at the same time. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. <strong class="text-lblue">[00:00:28]</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="full-episode-description">
            <h2>Show Notes</h2>
            <p><a href="#">The bedding was hardly able</a> to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought.</p>
            
            <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
            
            <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times.</p>
            
            <h3>Thanks to our sponsors:</h3>
            <ul>
                <li>John Doe, California</li>
                <li>Acme Corp, UK (<a href="#">link</a>)</li>
                <li>Jane Doe, NYC</li>
                <li>Sponsor #4</li>
                <li>Sponsor #5</li>
                <li>Sponsor #6</li>
                <li>Sponsor #7</li>
            </ul>
        </div>
    </div>
</section>
