/* Track package Page
------------------------------------*/
.section--title {
    @extend .u-upper;
    color: $black_sh1;
    @include padding(0);
    @include font-size(22);
    background-color: $white;
    font-weight: $weightUltrabold;

    @include responsive(sm) {
        @include font-size(26);

        @include respond-to(lg) {

        }
    }
}

.portlet {
    width: 100%;
    @include flexbox;
    @include padding(0);
    @include padding-left(0);
    @include flex-direction(column, vertical);
    @include margin-bottom(30);
    @include calc(height, '100% - 30px');
    
    
    
    &.light {
        background-color: $white;
    }
    
    &.bordered {
        border: 0px none;
    }
    
    &--title {
        @extend .u-upper;
        color: $black_sh1;
        @include padding(0);
        @include font-size(22);
        background-color: $white;
        font-weight: $weightBold;
        
        @include responsive(sm) {
            @include font-size(26);
            
            @include respond-to(lg) {
                
            }
        }
    }
    
    &--body {
        &--inner {
            @include padding(0 0 20 0);
            
            @include responsive(sm) {
                @include padding(0 0 30 0);
            }
        }
        
        .table {
            @include margin-bottom(0);
            
            thead {
                background-color: #cddeaa;
            }
            
            thead, tbody, tfoot {
                td, th {
                    color: $black_sh1;
                    @include padding(13 20);
                    vertical-align: middle;
                }
            }
            
            .th--sl, .td--sl {
                width: 50px;
                max-width: 50px;
            }
            .th--prdt, .td--prdt {
                max-width: 450px;
            }
            .th--qty, .td--qty {
                max-width: 150px;
            }
            .th--tax, .td--tax {
                max-width: 100px;
            }
            .th--dis, .td--dis {
                max-width: 100px;
            }
            .th--ship, .td--ship {
                max-width: 100px;
            }
            .th--total, .td--total {
                max-width: 200px;
                text-align: right;
            }
        }
        
        .prdt--image {
            @include size(62px);
            border: 1px solid $border;
            
            img {
                @include size(60px);
                @include object-fit(cover);
            }
        }
        .prdt--name {
            color: $black_sh1;
            @include font-size(18);
            @include margin-left(10);
        }
        
        .control-label,
        .form-control-static {
            min-height: 34px;
            color: $black_sh1;
            display: inline-block;
            @include font-size(17);
            line-height: 1.6;
            @include padding-top(7);
            @include margin-bottom(0);
            @include padding-bottom(7);
        }
        
        .table-sub--total {
            text-align: right;
            @include padding(10 20 15);
            border-top: 1px solid rgba($border,0.33);
            
            .price {
                width: 120px;
                display: inline-block;
                max-width: 120px;
                color: $black_sh1;
                @include padding-left(50);
                
                &.green {
                    color: $green;
                    font-weight: $weightBold;
                }
            }
        }
        
        .quantity {
            @include margin-right(0);
            
            input[type="text"] {
                width: 30px;
            }
        }
        
        .wishlist-product-price {
            color: $black_sh3;
        }
        
        span.wishlist-in-stock {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            
            &:before {
                color: $green;
                content: "\f109";
                display: inline-block;
                vertical-align: middle;
                font-family: $woodmart;
                @include margin-right(5);
            }
        }
    }
}

@media (max-width:767px) {
    .portlet {
        @include padding-left(0);
        
        &--body {
            .control-label {
                max-width: 33.3333%;
                flex: 0 0 33.3333%;
            }
            .control-details {
                max-width: 66.6666%;
                flex: 0 0 66.6666%;
            }
            
            .table {
                .th--sl, .td--sl {
                    display: none;
                }
            }
            
            .control-label,
            .form-control-static {
                min-height: 30px;
                @include font-size(15);
                line-height: 1.25;
            }

            .fs17 {
                @include font-size(15);
                line-height: 1.25;
            }
        }
    }
}

.form-control-static {
    &.phone--text {
        text-indent: 1ch;
        position: relative;
        white-space: nowrap;
        
        &:before {
            background-color: white;
            border-right: 1ch solid white;
            content: attr(data-phone);
            display: block;
            left: 0;
            overflow: hidden;
            position: absolute;
            text-indent: 0;
            top: 0;
            width: 5ch;
            height: 100%;
        }
    }
}


.saved--billing {
    position: relative;
    @include padding(15);
    @include padding-top(20);
    border: 1px solid $border;
    @include border-radius(6px);
    
    [class^="link-"] {
        @include padding(0 5);
        @include font-size(14);
    }
        
    .control-details {
        @include padding-left(20);
        
        @media (max-width:767px) {
            @include padding-left(25);
        }
    }
    
    .button--badge {
        top: -1px;
        left: -1px;
        color: $black_sh1;
        position: absolute;
        @include padding(3 8);
        @include font-size(13);
        @include border-radius(6px 0 6px 0);
        
        &.green {
            color: $white;
            background-color: $green;
        }
        
        &.blue {
            color: $white;
            background-color: $flickr;
        }
    }
}
.button--add-payment, .button--add-address {
    color: $grey;
    @include flexbox;
    position: relative;
    @include font-size(17);
    @include padding(20 15);
    border: 1px solid $border;
    @include border-radius(6px);
    @include align-items(center);
    @include justify-content(center);
    @include transition(all 0.3s ease);
    
    &:before {
        content: '\f067';
        font-family: $iconfont;
        @include margin-right(6);
    }
    
    &:hover, &:focus, &:active {
        color: $white;
        border-color: $green;
        background-color: $green;
    }
    
    @media (max-width:767px) {
        @include font-size(16);
        @include padding(25 15);
    }
}

.Shipping--Address {
    height: 100%;
    
    .button--add-payment, .button--add-address {
        @extend .u-upper;
        border-style: dashed;
        @include font-size(20);
        font-weight: $weightBold;
        height: calc(100% - 20px);
        @include flex-direction(column, vertical);
        
        &:before {
            @include font-size(22);
            @include margin-right(0);
            @include margin-bottom(10);
        }
        
        @media (max-width:767px) {
            @include font-size(18);
            @include padding(30 15);
        }
    }
    .box {
        @include flexbox;
        @include font-size(17);
        line-height: 1.35;
        @include padding(20 20);
        border: 1px solid $border;
        @include margin-bottom(20);
        @include border-radius(6px);
        @include align-items(flex-start);
        @include justify-content(space-between);
        @include flex-direction(column, vertical);
        height: calc(100% - 20px);
        
        &--header {
            @include flexbox;
            @include font-size(15);
            @include margin(0 -20);
            @include margin-top(-20);
            /*width: calc(100% + 40px);
            border-bottom: 1px solid $border;*/
            @include padding(10 20);
            @include margin-bottom(10);
            @include align-items(flex-start);
            @include border-radius(6px 6px 0 0);
            @include justify-content(flex-start);
            background-color: darken($white,2.5%);
            
            top: -1px;
            left: -1px;
            width: auto;
            position: relative;
            @include padding(8 20);
            @include font-size(14);
            @include border-radius(6px 0 6px 0);
            
            &.green {
                color: $white;
                background-color: $green;
            }
            &.blue {
                color: $white;
                background-color: $flickr;
            }
        }
        
        .address {
            width: 100%;
            color: $grey;
            display: inline-block;
            @include font-size(14);
            @include margin-top(25);
            @include margin-bottom(0);
    
            [class^="link-"] {
                @include font-size(14);
                padding: 0 6px !important;

                &:first-child {
                    padding-left: 0px !important;
                }
            }
            
            .sep {
                &:not(&:last-child) {
                    display: none;
                }
            }
        }
        
        &--inner {
            @include flexbox;
            text-align: center;
            @include padding(20 0);
            height: calc(100% - 20px);
            @include margin-bottom(20);
            @include align-items(center);
            @include justify-content(center);
            @include flex-direction(column, vertical);
            @include font-size(20);
            line-height: 1.2;
            font-weight: $weightBold;
            
            p { 
                @include margin-top(20);
                @include margin-bottom(0);
            }
        }
    }
}
        
.AG--Shipping, .error--box__Graphic {
    display: block;
    margin: 0px auto;
    @include size(125px, auto);

    img {
        display: block;
        @include size(125px, auto);
    }

    @include respond-to(sm) {
        @include size(175px, auto);

        img {
            @include size(175px, auto);
        }
    }
}

.error--box {
    @include flexbox;
    text-align: center;
    @include padding(20 0);
    height: calc(100% - 20px);
    @include margin-bottom(20);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column, vertical);
    @include font-size(24);
    line-height: 1.2;
    font-weight: $weightBold;

    p {
        @include margin-top(20);
        @include margin-bottom(10);
    }
}

.Shipping--Address {
    .button--add-address {
        min-height: 180px;
        height: calc(100% - 30px);

        @include respond-below(sm) {
            height: calc(100% - 30px);
        }
    }
}

