<section class="AgFolks__404 AgFolks__404-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="info info-xs">
                    <div class="message">
                        <div class="AgFolks__404--Graphic"><img src="./assets/images/404.jpg" alt="Page Not Found" class="img-fluid"></div>
                        <h1 class="title title-xs">Page Not Found</h1>
                        <p class="fs20 fs20-xs">This is somewhat embarrassing, isn't it? It looks like nothing was found at this location.</p>
                        <!--<p><a [routerLink]="['']" class="animated-btn green animated-btn-xs">Home<i class="fa fa-angle-right">&nbsp;</i></a></p>-->
                        
                        <div class="u-flexed u-align-center u-justify-center u-mt--40 u-mt--40-sm">
                            <a href="javascript:;" class="button button--black button-inline button-md has-icon--before" onclick="window.history.go(-1); return false;"><span class="far fa-angle-left icon"></span> Back</a>
                            
                            <a href="javascript:;" [routerLink]="['']" class="button button--red button-inline button-md has-icon--after">Home <span class="far fa-home icon"></span></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
