<div class="content__wrap content__wrap-sm">
    <div class="Shop__Listings Shop__Listings-xs memberResource">
        <div class="container">
            
            <div class="row justify-content-center seller-product-type-page">
                <div class="col-12 col-xl-10 col-lg-12 col-md-12 col-sm-11 col-xs-12">
                    <div class="page-head page-head-sm">
                        <h3 class="u-heading--medium u-heading--medium-sm no-upper mb-2">Select a Product Type</h3>
                        <p class="font-size-lg text-dark-50">To create your listing, choose from the options below. Remember: the first listing in your store must be a free product.</p>
                    </div>

                    <div class="row mb-0">
                        <div class="col-md-4" *ngIf="userPackage && userPackage.SellerPackage == 'Yes'">
                            <div class="card p-3">
                                <div class="card-inner">
                                    <div class="card-inner_title mb-2">
                                        <h3>Products</h3>
                                    </div>
                                    <figure class="card-inner_icon">
                                        <img src="./assets/images/icons/digital-products.svg" alt="Digital Products" class="img-fluid">
                                    </figure>
                                    <div class="card-inner_caption">
                                        <p>{{'STORE_PRODUCT_ADD_LABEL' | translate}}</p>
                                        <p class="small-text">{{'STORE_PRODUCT_ADD_LABEL2' | translate}}</p>
                                    </div>
                                    
                                    <div class="card-inner_action">
                                        <a routerLink="/member/products/Physical/add" class="button button--green button-sm button-radius button-block"><i class="fe-plus mr-1"></i>Add Product</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card p-3">
                                <div class="card-inner">
                                    <div class="card-inner_title mb-2">
                                        <h3>Videos</h3>
                                    </div>
                                    <figure class="card-inner_icon">
                                        <img src="./assets/images/icons/video-products.svg" alt="Videos" class="img-fluid">
                                    </figure>
                                    <!--
                                    <div class="card-inner_caption">
                                        <p>Premium Membership needed.</p>
                                        <p>Sign up and gain access to uploading video.</p>
                                    </div>

                                    <a href="#" class="button button--red button-sm button-radius button-block">Sign up for Premium</a>

                                    <div class="card-inner_link">
                                        <a href="#">What is Video on TeachItPro?</a>
                                    </div>
                                    -->
                                    <div class="card-inner_caption">
                                        <p>{{'VIDEO_ADD_LABEL' | translate}}</p>
                                        <p class="small-text">{{'VIDEO_ADD_LABEL2' | translate}}</p>
                                    </div>
                                    <!--
                                    <a routerLink="/member/resource/add" class="button button--green button-sm button-radius button-block"><i class="fe-plus mr-1"></i>Add Video</a>
                                    -->
                                    <div class="card-inner_action">
                                        <app-upload-media [memberUpload]='1'></app-upload-media>
                                        <div class="clearfix"></div>
                                        <a style="margin-top:5px;" routerLink="/member/video/add" class="button button--green button-sm button-radius button-block"><i class="fe-plus mr-1"></i>Add Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card p-3">
                                <div class="card-inner">
                                    <div class="card-inner_title mb-2">
                                        <h3>Resources</h3>
                                    </div>
                                    <figure class="card-inner_icon">
                                        <img src="./assets/images/icons/resources-products.svg" alt="Resources" class="img-fluid">
                                    </figure>
                                    <div class="card-inner_caption">
                                        <p>{{'RESOURCES_POSTS_ADD_LABEL' | translate}}</p>
                                        <p class="small-text">{{'RESOURCES_POSTS_ADD_LABEL2' | translate}}</p>
                                    </div>
                                    
                                    <div class="card-inner_action">
                                        <a routerLink="/member/resource/add" class="button button--green button-sm button-radius button-block"><i class="fe-plus mr-1"></i>Add Resources</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>