<div class="hero__inner small small-xs overlay u-image--covered" style="background-color: #0a0a0a;">
    <div class="container p-0">
        <div class="hero__inner--content hero__inner--content-xs text-center">
            <div class="subhead subhead-xs text-white">
                <h1>Episodes</h1>
            </div>
            <div class="text text-xs text-white"></div>
        </div>
    </div>
</div>

<section class="my-podcast my-podcast-sm">
    <div class="container p-0">
        <div class="episode-wrapper">
            <div class="w-full d-flex w-full episode-container episode-container-sm mb-4">
                <div class="episode-image" title="Episode 47: How to create a beautiful podcast website?"><a href="/products/podcasts/details"><img class="w-100 img-fluid" alt="Episode 47: How to create a beautiful podcast website?" loading="lazy" src="./assets/images/podcats.jpg" width="235" height="235"></a></div>
                
                <div class="episode-content d-flex flex-column justify-contentbetween">
                    <div class="episode-content-container">
                        <div class="episode-meta mb-3">
                            <span class="meta-date mr-3" title="Date"><i class="fe-calendar mr-1"></i>August 12, 2022</span><span class="meta-numbers mr-3" title="Season/Episode Number"><i class="fe-list mr-1"></i>47</span><span class="meta-duration mr-3" title="Episode Duration"><i class="fe-clock mr-1"></i>00:13:39</span><span class="meta-size" title="Episode Weight"><i class="fe-music mr-1"></i>5.15 MB</span>
                        </div>
                        <h3 class="episode-title fw-bold mb-3"><a href="/products/podcasts/details">Episode 47: How to create a beautiful podcast website?</a></h3>
                        
                        <div class="episode-desc text-base mb-3">
                            <p class="excerpt line-height line-height-3">In this episode, we look into producing new podcasts and recording multiple episodes at the same time. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he coul...</p>
                        </div>

                        <audio id="audio" preload="auto" controls>
                            <source src="horse.ogghttps://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/ogg">
                            <source src="https://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            
            <div class="w-full d-flex w-full episode-container episode-container-sm mb-4">
                <div class="episode-image" title="Episode 47: How to create a beautiful podcast website?"><a href="/products/podcasts/details"><img class="w-100 img-fluid" alt="Episode 47: How to create a beautiful podcast website?" loading="lazy" src="./assets/images/podcats.jpg" width="235" height="235"></a></div>
                
                <div class="episode-content d-flex flex-column justify-contentbetween">
                    <div class="episode-content-container">
                        <div class="episode-meta mb-3">
                            <span class="meta-date mr-3" title="Date"><i class="fe-calendar mr-1"></i>August 12, 2022</span><span class="meta-numbers mr-3" title="Season/Episode Number"><i class="fe-list mr-1"></i>47</span><span class="meta-duration mr-3" title="Episode Duration"><i class="fe-clock mr-1"></i>00:13:39</span><span class="meta-size" title="Episode Weight"><i class="fe-music mr-1"></i>5.15 MB</span>
                        </div>
                        <h3 class="episode-title fw-bold mb-3"><a href="/products/podcasts/details">Episode 47: How to create a beautiful podcast website?</a></h3>
                        
                        <div class="episode-desc text-base mb-3">
                            <p class="excerpt line-height line-height-3">In this episode, we look into producing new podcasts and recording multiple episodes at the same time. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he coul...</p>
                        </div>

                        <audio id="audio" preload="auto" controls>
                            <source src="horse.ogghttps://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/ogg">
                            <source src="https://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            
            <div class="w-full d-flex w-full episode-container episode-container-sm mb-4">
                <div class="episode-image" title="Episode 47: How to create a beautiful podcast website?"><a href="/products/podcasts/details"><img class="w-100 img-fluid" alt="Episode 47: How to create a beautiful podcast website?" loading="lazy" src="./assets/images/podcats.jpg" width="235" height="235"></a></div>
                
                <div class="episode-content d-flex flex-column justify-contentbetween">
                    <div class="episode-content-container">
                        <div class="episode-meta mb-3">
                            <span class="meta-date mr-3" title="Date"><i class="fe-calendar mr-1"></i>August 12, 2022</span><span class="meta-numbers mr-3" title="Season/Episode Number"><i class="fe-list mr-1"></i>47</span><span class="meta-duration mr-3" title="Episode Duration"><i class="fe-clock mr-1"></i>00:13:39</span><span class="meta-size" title="Episode Weight"><i class="fe-music mr-1"></i>5.15 MB</span>
                        </div>
                        <h3 class="episode-title fw-bold mb-3"><a href="/products/podcasts/details">Episode 47: How to create a beautiful podcast website?</a></h3>
                        
                        <div class="episode-desc text-base mb-3">
                            <p class="excerpt line-height line-height-3">In this episode, we look into producing new podcasts and recording multiple episodes at the same time. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he coul...</p>
                        </div>

                        <audio id="audio" preload="auto" controls>
                            <source src="horse.ogghttps://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/ogg">
                            <source src="https://dl.dropboxusercontent.com/s/9v0psowra7ekhxo/A%20Himitsu%20-%20In%20Love%20%28feat.%20Nori%29.flac?dl=0" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
