<div class="Missio--Thankyou Missio--Thankyou-xs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <picture class="Missio--Thankyou__Logo Missio--Thankyou__Logo-sm"><img src="./assets/images/logo.png"
                class="image-fluid" alt="{{'TITLE' | translate}}" style="max-width: 150px;" /></picture>
                <h1 class="Thankyou--heading Thankyou--heading-xs">{{message}}</h1>
                <h3 class="Thankyou--description Thankyou--description-xs" routerLink="/login">Click here to Login now</h3>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- Include Newsletter component here -->
<app-newsletter></app-newsletter>