<section class="tip--newsletter tip--newsletter-sm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <div class="tip--newsletter__inner">
                    <h2>Subscribe <span>Our newsletter</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis.</p>

                    <form class="tip-subscribe-form">
                        <input type="email" placeholder="Write your e-mail here">
                        <button class="subscribe-btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>