<div class="sectionhead sectionhead-xs">
    <picture>
        <source srcset="../assets/images/background/static.webp" type="image/webp" />
        <source srcset="../assets/images/background/static.jpg" type="image/jpg" /><img alt="Giving Back.." class="lazy img-fluid" src="../assets/images/background/static.jpg"></picture>
    <div class="sectionhead--inner">
        <div class="container">
            <header class="sectionhead__name sectionhead__name-xs">
                <h1 class="entry-title">{{'ACCOUNT' | translate}}</h1>
                <div class="breadcrumbs"><a routerLink="">{{'HOME' | translate}}</a> »<span class="current">{{'ACCOUNT' | translate}}</span></div>
            </header>
        </div>
    </div>
</div>