<div class="hero__inner medium medium-xs shop--hero marketplace-banner" data-overlay="0" style="background-image: url('/assets/images/MarketPlace-Bg.jpg');">
    <div class="container">
        <div class="banner--wrapper">
            <div class="row align-items-center justify-content-start">
                <div class="col-12 col-lg-7 col-md-8 col-sm-12">
                    <div class="d-flex align-items-center justify-content-start mb-3">
                        <div class="text-left u-upper">
                            <h1 class="subhead subhead-xs text-white mb-0">{{'WELCOME_TO_MARKETPLACE' | translate}}</h1>
                        </div>
                    </div>
                    <div class="text-left w-75">
                        <p>{{'MARKETPLACE_EXCERPT' | translate}}</p>
                    </div>
                    <div class="hero--buttons d-flex justify-content-start">
                        <a class="tip--cta-btn" href="/join-now">Join Today <i class="arrow"><svg height="12" viewBox="0 0 512 512" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M506.134 241.843l-.018-.019-104.504-104c-7.829-7.791-20.492-7.762-28.285.068-7.792 7.829-7.762 20.492.067 28.284L443.558 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h423.557l-70.162 69.824c-7.829 7.792-7.859 20.455-.067 28.284 7.793 7.831 20.457 7.858 28.285.068l104.504-104 .018-.019c7.833-7.818 7.808-20.522-.001-28.314z"></path></svg></i></a>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-md-4 col-sm-12"></div>
            </div>
        </div>
    </div>
</div>