<div class="sectionhead sectionhead-xs mb-0">
    <picture>
        <source srcset="../assets/images/background/Forum.webp" type="image/webp">
        <source srcset="../assets/images/background/Forum.jpg" type="image/jpg">
        <img alt="Resources" class="lazy img-fluid" src="../assets/images/background/Forum.jpg">
    </picture>
    <div class="sectionhead--inner">
        <div class="container">
            <header class="sectionhead__name sectionhead__name-xs">
                <h1 routerLink="{{ '/forum'}}" class="entry-title">{{'CHALKCHAT' | translate}}</h1>
                <p class="text-white">{{'CHALKCHAT_DESC' | translate}}</p>
            </header>
        </div>
    </div>
</div>